CG-TeamProject/.vs
CG-TeamProject/.vs/CG-TeamProject/v17/fileList.bin
CG-TeamProject/.vs/CG-TeamProject/FileContentIndex/4564c926-b61a-4e61-9ea7-58e0521b14c8.vsidx
CG-TeamProject/.vs/CG-TeamProject/FileContentIndex/91642129-ad5d-4d13-9055-17646995f868.vsidx
CG-TeamProject/.vs/CG-TeamProject/FileContentIndex/bb0496a2-f824-414a-b218-9935d88de8e0.vsidx
CG-TeamProject/.vs/CG-TeamProject/FileContentIndex/d5e1ff88-067e-4154-af88-b0a615b2cc8c.vsidx
CG-TeamProject/.vs/CG-TeamProject/v17/.suo
CG-TeamProject/.vs/CG-TeamProject/v17/DocumentLayout.json
CG-TeamProject/.vs/CG-TeamProject/v17/.suo
CG-TeamProject/.vs/CG-TeamProject/FileContentIndex/546076bb-35ee-4bbb-a8b9-f9e088100693.vsidx
CG-TeamProject/.vs/CG-TeamProject/v17/.suo
CG-TeamProject/.vs/CG-TeamProject/v17/DocumentLayout.json
CG-TeamProject/.vs/CG-TeamProject/v17/.suo
CG-TeamProject/.vs/CG-TeamProject/v17/DocumentLayout.json
CG-TeamProject/.vs/CG-TeamProject/v17/DocumentLayout.json
CG-TeamProject/.vs/CG-TeamProject/v17/.suo
CG-TeamProject/.vs/CG-TeamProject/v17/DocumentLayout.json
CG-TeamProject/CG-TeamProject/x64/Debug/CG-TeamProject.exe.recipe
CG-TeamProject/CG-TeamProject/x64/Debug/CG-TeamProject.ilk
CG-TeamProject/CG-TeamProject/x64/Debug/CG-TeamProject.log
CG-TeamProject/CG-TeamProject/x64/Debug/CG-TeamProject.tlog/CG-TeamProject.lastbuildstate
CG-TeamProject/CG-TeamProject/x64/Debug/CG-TeamProject.tlog/Cl.items.tlog
CG-TeamProject/CG-TeamProject/x64/Debug/CG-TeamProject.tlog/CL.read.1.tlog
CG-TeamProject/CG-TeamProject/x64/Debug/CG-TeamProject.tlog/CL.write.1.tlog
CG-TeamProject/CG-TeamProject/x64/Debug/CG-TeamProject.tlog/link.read.1.tlog
CG-TeamProject/CG-TeamProject/x64/Debug/CG-TeamProject.tlog/link.secondary.1.tlog
CG-TeamProject/CG-TeamProject/x64/Debug/CG-TeamProject.tlog/link.write.1.tlog
CG-TeamProject/CG-TeamProject/x64/Debug/main.obj
CG-TeamProject/CG-TeamProject/x64/Debug/vc143.idb
CG-TeamProject/CG-TeamProject/x64/Debug/vc143.pdb
CG-TeamProject/x64/Debug/CG-TeamProject.exe
CG-TeamProject/x64/Debug/CG-TeamProject.pdb
